# Created by https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,visualstudiocode,laravel

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,visualstudiocode,laravel
Obrolan

_Percakapan Baru

🤓 Jelaskan sesuatu yang rumit

Jelaskan Kecerdasan Buatan sehingga saya dapat menjelaskannya kepada anak saya yang berusia enam tahun.


🧠 Dapatkan saran dan buat ide baru

Harap berikan saya 10 ide perjalanan terbaik di seluruh dunia


💭 Terjemahkan, ringkas, perbaiki tata bahasa dan lainnya...

Translate 'I love you' into French


GPT-3.5
Halo, bagaimana saya bisa membantu Anda hari ini?

coin image
10
Tingkatkan



Tanyakan saya apa saja...


Buat Ulasan & Dapatkan Kredit ❤
Obrolan
Bertanya
Cari
Tulis
Gambar
ChatPDF
Visi
Halaman Penuh
Undang & Dapatkan


